.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(to bottom, #f0f2f5, #cfd9df);
}

.login-container {
  position: relative;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.back-button {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
  color: #007bff;
  transition:
    color 0.3s ease,
    transform 0.2s ease;
}

.back-button:hover {
  color: #0056b3;
  transform: scale(1.1);
}

.login-container h1 {
  font-size: 26px;
  margin-bottom: 15px;
  color: #333;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-group input {
  width: 100%;
  text-align: left;
  padding-left: 10px;
  text-align: left !important;
  width: 100%;
  text-align: left !important;
  padding-left: 10px;
  direction: ltr;
  caret-color: black;
}

.input-group label {
  text-align: left !important;
  align-self: flex-start;
  font-weight: bold;
  margin-bottom: 5px;
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition:
    background-color 0.3s ease,
    transform 0.2s;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.login-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.signup-text {
  margin-top: 15px;
  font-size: 14px;
  margin-bottom: 0%;
}

.signup-text a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.signup-text a:hover {
  text-decoration: underline;
}

.forgot-password {
  margin-top: 10px;
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.success-message {
  color: green;
  font-size: 14px;
  margin-bottom: 10px;
}

.back-to-login {
  margin-top: 15px;
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}

.back-to-login:hover {
  text-decoration: underline;
}

.login-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.DocRoadMap-Logo.login img {
  width: 150px;
  max-width: 150px;
  height: auto;
}

.login-header h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 600;
  transform: translateX(-40px);
}
