.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #f0f2f5, #cfd9df);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.login-container {
  background: white;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.back-button {
  position: absolute;
  top: 5px;
  left: 5px;
  background: none;
  border: none;
  font-size: 18px;
  color: #007bff;
  cursor: pointer;
  z-index: 10;
}

.login-header {
  text-align: center;
  margin-bottom: 10px;
}

.login-header img {
  max-width: 100px;
  height: auto;
}

.input-group.small {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.input-group.small input {
  width: 70%;
  padding: 8px;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-align: center;
}

.login-button {
  width: 85%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition:
    background-color 0.3s ease,
    transform 0.2s;
}

.login-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.error-message,
.success-message {
  font-size: 12px;
  text-align: center;
  margin-bottom: 6px;
}

.success-message {
  color: green;
}

.signup-text,
.forgot-password,
.back-to-login {
  font-size: 12px;
  margin-top: 6px;
  text-align: center;
  cursor: pointer;
}
