.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(to bottom, #f0f2f5, #cfd9df);
}

.register-container {
  position: relative;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.back-button {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
  color: #007bff;
  transition:
    color 0.3s ease,
    transform 0.2s ease;
}

.back-button:hover {
  color: #0056b3;
  transform: scale(1.1);
}

.register-container h1 {
  font-size: 26px;
  margin-bottom: 20px;
  color: #333;
}
.input-group {
  margin-bottom: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group label {
  font-weight: 600;
  margin-bottom: 5px;
  color: #333;
  width: 100%;
  text-align: center;
}

.input-group input {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  text-align: center;
  transition: border-color 0.3s ease;
}

.input-group input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.register-button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition:
    background-color 0.3s ease,
    transform 0.2s;
}

.register-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.login-text {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
}

.login-text a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.login-text a:hover {
  text-decoration: underline;
}

.register-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.DocRoadMap-Logo.register img {
  width: 150px;
  max-width: 150px;
  height: auto;
}

.register-header h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 600;
  transform: translateX(-40px);
}
