.App {
  width: 400px;
  height: 600px;
  color: #333;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  margin: 0 auto;
  box-sizing: border-box;
}
